body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Console", "Courier New", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
}

img {
  max-width: 200px;
  height: auto;
}

.title {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.cornell {
  color: #d05f5e;
}

.webdev {
  color: #56595a;
}
